<!DOCTYPE html>
<html>
	<head>
		<title>Lgb5</title>
		<%= stylesheet_link_tag :frontend, media: :all %>
		<%= javascript_include_tag :frontend %>
		<%= csrf_meta_tags %>
	</head>
	<body class="<%= params[:controller].gsub('/', ' ') %> <%= params[:action] %>">
		<%= yield %>
	</body>
</html>